
#back1{
  background: linear-gradient(180deg, rgba(4, 17, 54, 0) 42.19%, rgba(255, 196, 37, 0.29) 100%);
  opacity: 0.8;
  filter: blur(91px);
  border-radius: 1050px;
}

.c-section {
  position: relative;
  height: 30vw;
  display: flex;
  justify-content: center;
}

.lavitan-box-container {
  width: 30vw;
}

.image-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
}
    
.logo_f{
  text-align: center;
}
    
.coluna2{
  text-align: center;
}
    
.wrapper{
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

    
.imagem22 {
  width: 18vw;
  padding-bottom: 20px;
  margin-left: 5%;
}

.imagem {
  width: 100vw;
  margin-top: -58vw;
  left: -18vw;
  position: absolute;
  z-index: 100;
}

.button {
  padding: 1vw 1.3vw;
  box-shadow: 10px 9px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(13px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
      
.button1 {   

  background: #FFC425;
  box-shadow: 10px 9px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(13px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 124.52%;
  /* identical to box height, or 20px */
  letter-spacing: 0.085em;
  color: #030F2F;
} 
    
.button2 {
  
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 10px 9px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(13px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 10px;
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size:1vw;
  line-height: 124.52%;
  /* identical to box height, or 20px */
  
  letter-spacing: 0.085em;
  
  color: #FFC425;
  margin-left: 0.8vw;
} 
    
    
.button3 {

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 10px 9px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(13px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 10px;
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 124.52%;
  /* identical to box height, or 20px */
  letter-spacing: 0.085em;
  color: #FFC425;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.play-icon {
  width: 1.1vw;
  margin-right: 0.7vw;
}

.s11 {
  display: flex;
  text-align: center;
  align-content: center;
  vertical-align: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}


#iconsv {
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#video_popup{
  overflow: hidden;
  height: 400px;
  border-radius: 10px;
  z-index: 30;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 600px) {
  .imagem {
    width: 200vw;
    margin: 0;
    padding: 0;
    left: 0;
    position: relative;
  }
  .lavitan-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    padding: 2vw 3vw;
  }

  .wrapper {
    margin-top: -20vw;
  }

  .image-buttons-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button1 {
    font-size: 5vw;
    margin-bottom: 2vw;
    width: 70vw;
  }

  .button2 {
    font-size: 5vw;
    width: 70vw;

  }

  .button3 {
    font-size: 5vw;
    width: 70vw;

  }

  .s11{
    display: inline-block;
    margin-bottom: 2vw;
  }

  #video_popup {
    display: none;
  }

  .imagem22{
    width: 50vw;
  }
  
}

@media (min-width: 600px) {
  #video_popup2 {
    display: none;
  }
}
