#banner4 {
  position: absolute;
  z-index: 14;
  width: 100vw;
}

.star4 {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  visibility: hidden;
  opacity: 0;
  z-index: 40;
  border-radius: 50%;
}