#video {
  /* display: block; */
  overflow: hidden;
  min-width: 100%; 
  min-height: 100%; 
}
.main-video-container{
  overflow: hidden;
}
.video-play {
  position: absolute;
  width: 5.0vw;
  height: 5.0vw;
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1.5px;
  outline: none;
  background-color: #E9E8E400;
  bottom: 2.7vw;
  left: 4.8vw;
  z-index: 2;
  text-align: center;
}

.video-play:hover {
  background-color: #f9f9f966;
}

.unmute-button {
  position: absolute;
  border-radius: 16px;
  width: 3.5vw;
  height: 3.5vw;
  border-style: solid;
  border-color: #ffffff;
  background-color: #E9E8E400;
  border-radius: 50%;
  border-width: 1.5px;
  top: 2.7vw;
  outline: none;
  left: 4.8vw;
  z-index: 2;
}

.unmute-button:hover {
  background-color: #f9f9f966;
}

.button-pass {
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  bottom: 2.7vw;
  background-color: #E9E8E400;
  border:none;
  border-radius: 50%;
  outline: none;
  right: 4.8vw;
  z-index: 2;
}

.button-pass:hover {
  background-color: #f9f9f966;
}

.pauseButton {
  fill: #ffffff;
}

.playButton {
  fill: #ffffff;
}

.soundOn {
  fill: #ffffff;
}

.soundOff {
  fill: #ffffff;
}

.goToWebsite {
  fill: #ffffff;
}