.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}
 
@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.background-fourth-section {
  width: 100vw;
  /* background: linear-gradient(180deg, rgba(3, 15, 47, 0) 0%, #030D29 15vw, #030D29 36.98%); */
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 101;

}

.fourth-section-title {
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-size: calc(28px + 0.5vw);
  text-align: center;
  letter-spacing: 0.28em;
  color: #FFC425;
  white-space: nowrap;
}


.fourth-section-subtitle {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: calc(28px + 0.5vw);
  margin-top: 1vh;
  text-align: center;
  letter-spacing: 0.28em;
  white-space: nowrap;

  color: #FFFFFF;
}

.pill-bottle-fourth {
  width: 265px;
  height: 478px;
  z-index: 8;
  pointer-events: none;
}

.fourth-image {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  width: 250px;
  height: 400px;
  object-fit: contain;
  z-index: 10;
}


.fourth-bold-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(20px + 0.4vw);
  text-align: right;
  letter-spacing: 0.14em;
  color: #FFFFFF;
}

.fourth-normal-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 0.4vw);
  text-align: right;
  color: #FFFFFF;
  letter-spacing: 0.14em;
  max-width: 600px;
}

.fourth-number-one {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: calc(20px + 0.5vw);
  text-align: center;
  letter-spacing: 0.28em;
  color: #FFFFFF;
  height: 30vh;
  margin-bottom: 30vh;
  z-index: 15;
}


.fourth-side-div {
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: center;
  gap: 2.5vh;
  align-items: flex-start;
}

.fourth-content {
  display: flex;
  padding-top: 10vh;
}

.drag-to-scroll {
  width: 100vw;
  padding: 60vh 0 20vh 0;
  white-space: nowrap;
  margin-bottom: -20vh;
}



.fourth-scroll-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fourth-section-image-gallery {
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
  position: relative;
  align-items: center;
  /* height: 65vh; */

}

.fourth-section-image-gallery>::-webkit-scrollbar {
  height: 8px;
  background-color: transparent;
}

.fourth-section-image-gallery>::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 20px;
}

.fourth-shadow-center {
  position: absolute;
  z-index: 3;
  width: 45vw;
  margin-top: 40vw;
}


.filled-fourth-orbit {
  left: -6vw;
  margin-top: 20vh;
  position: absolute;
}

.pill-container-fourth-section{
  position: absolute;
  right: 9vw;
  margin-top: 55vw;
  width: 5vw;
}

.pill-container-fourth-section-two{
  position: absolute;
  left: 9vw;
  margin-top: 65vw;
  width: 5vw;
}

@media only screen and (max-width: 900px) {

  .small-fourth-orbit,
  .filled-fourth-orbit,
  .fourth-shadow-center {
    display: none;
  }

  .fourth-content {
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
  }

  .fourth-side-div {
    width: 90vw;
    align-items: center !important;
    justify-content: center;
    margin-bottom: 20px;
  }

  .fourth-bold-text,
  .fourth-normal-text {
    text-align: center !important;
  }

  .pill-bottle-fourth {
    order: 2;
  }

  .fourth-scroll-content {
    margin: 0;
  }

  .background-fourth-section {
    padding-bottom: 5vh;
  }

  .fourth-section-image-gallery {
    white-space: nowrap;
    height: 35vh;
  }

  .drag-to-scroll {
    padding-top: 35vh;
    padding-bottom: 0;
    margin-bottom: 0;
  }


  .fourth-number-one {
    height: 5vh;
    margin-bottom: 0;
  }


.pill-container-fourth-section{
  right: 7vw;
  margin-top: 145vw;
  width: 7vw;
}

.pill-container-fourth-section-two{
  left: 9vw;
  margin-top: 265vw;
  width: 7vw;
}


}