.background-fourth-section {
  width: 100vw;
  background: linear-gradient(180deg, rgba(3, 15, 47, 0) 0%, #030D29 15vw, #030D29 36.98%);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 20vh;
}

.fourth-section-title {
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-size: calc(28px + 0.5vw);
  text-align: center;
  letter-spacing: 0.28em;
  color: #FFC425;
  white-space: nowrap;
}


.fourth-section-subtitle {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: calc(28px + 0.5vw);
  margin-top: 1vh;
  text-align: center;
  letter-spacing: 0.28em;
  white-space: nowrap;

  color: #FFFFFF;
}

.pill-bottle-fourth {
  width: 265px;
  height: 478px;
  z-index: 8;
  pointer-events: none;
}

.fourth-image {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  width: 250px;
  height: 400px;
  object-fit: contain;
  z-index: 10;
}


.fourth-bold-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(20px + 0.5vw);
  text-align: right;
  letter-spacing: 0.14em;
  color: #FFFFFF;
}

.fourth-normal-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 0.5vw);
  text-align: right;
  color: #FFFFFF;
  letter-spacing: 0.14em;
  max-width: 600px;
}

.fourth-number-one {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: calc(20px + 0.5vw);
  text-align: center;
  letter-spacing: 0.28em;
  color: #FFFFFF;
}


.fourth-side-div {
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: center;
  gap: 2.5vh;
  align-items: flex-start;
}

.fourth-content {
  display: flex;
  padding-top: 10vh;
}

.drag-to-scroll {
  width: 100vw;
  padding: 30vh 0 20vh 0;
}



.fourth-scroll-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 55vh;
}

.fourth-section-image-gallery {
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
  /* width: 100vw; */
  position: relative;
  align-items: center;
  /* overflow: auto; */
}

.fourth-section-image-gallery>::-webkit-scrollbar {
  height: 8px;
  background-color: transparent;
}

.fourth-section-image-gallery>::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 20px;
}

.fourth-shadow-center {
  position: absolute;
  z-index: 3;
  width: 45vw;
  margin-top: 40vw;
}


.small-fourth-orbit {
  right: -3vw;
  position: absolute;
}

.filled-fourth-orbit {
  left: -6vw;
  margin-top: 20vh;
  position: absolute;
}



@media only screen and (max-width: 900px) {

  .small-fourth-orbit,
  .filled-fourth-orbit,
  .fourth-shadow-center {
    display: none;
  }

  .fourth-content {
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
  }

  .fourth-side-div {
    width: 90vw;
    align-items: center !important;
    justify-content: center;
  }

  .fourth-bold-text,
  .fourth-normal-text {
    text-align: center !important;
  }

  .pill-bottle-fourth {
    order: 2;
  }

  .fourth-scroll-content {
    margin: 0;
  }

  .background-fourth-section {
    padding-bottom: 5vh;
  }

  .fourth-section-image-gallery {
    white-space: nowrap;
  }

  .fourth-scroll-content {
    height: 60vh;
  }


}