.second-animation-pag {
  background-color: #E7EBF6;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.first-animation-titles-container2 {
  position: absolute;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-second-section-3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 3vw;
  text-align: center;
  letter-spacing: 0.35em;
  text-transform: uppercase;

  color: #030F2F;

}

.DNA-left-top {
  /* filter: blur(7px); */
  width: 90vw;
  left:-50vw;
  position: absolute;
  z-index: 11;
  margin-top: -30vw;
  opacity: 0.13;
  transform: rotate(134.23deg);
}


.DNA-left-bottom{
  left:-110vw;
  position: absolute;
  z-index: 11;
  width: 170vw;
  margin-top: 5vw;

}

.DNA-right {
  right:-100vw;
  position: absolute;
  z-index: 11;
  width: 150vw;
  margin-top: 20vw;
  opacity: 0.56;
  filter: blur(21px);

}

@media only screen and (max-width: 900px) {
  .title-second-section-3 {
    font-size: 4vw !important;
    line-height: 6vw !important;

  }

  .DNA-left-top {
    width: 190vw;
    left:-50vw;
    margin-top: -150vw;
    opacity: 0.43;
    transform: rotate(134.23deg);
  }
  
  
  .DNA-left-bottom{
    left:-60vw;
    position: absolute;
    z-index: 11;
    width: 130vw;
    margin-top: 105vw;
    transform: rotate(-170deg);
  
  }
  
  /* .DNA-right {
    right:-100vw;
    position: absolute;
    z-index: 11;
    width: 150vw;
    margin-top: 20vw;
    opacity: 0.56;
    filter: blur(21px);
  
  } */
  
}