.form{
  width: 100%;
  flex-wrap: wrap;
  /* margin: 10px auto; */
  display:flex;
  max-width: 600px;
  text-align: center;
  /* margin-left: 8%; */
  text-align: center;
  /* vertical-align: middle; */
  /* height: 100%; */
  /* width: 100%; */
  /* padding-right: 2%; */
  flex-direction: column;
  align-items: end;
  display: flex;
  padding-top: 0;
  z-index: 1;
}
  
._form-content{
  margin: 0 auto;
  display: flex;
  width: 30vw;
  flex-wrap: wrap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 124.52%;
  /* identical to box height, or 20px */
  letter-spacing: 0.085em;
  color: #FFFFFF;
  z-index: 1;
}

.bottom-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

._form-content > ._form_element {
  width: 100%;
}

#fullname {
  width: 100%;
  padding: 1vw 1.3vw;
  left: 658px;
  top: 8026.01px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 10px 9px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(13px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0.5vw;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 124.52%;
  /* identical to box height, or 20px */
  letter-spacing: 0.085em;
  color: #FFFFFF;
  border: none;
  z-index: 1;
}


.bottom-buttons > ._form_element {
  width: 64%;
}
#email{
  width: 100%;
  padding: 1vw 1.3vw;
  top: 8100.01px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 10px 9px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(13px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0.5vw;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 124.52%;
  /* identical to box height, or 20px */
  letter-spacing: 0.085em;
  color: #FFFFFF;
  border: none;
  z-index: 1;
}

._submit{
  padding: 1vw 1.3vw;

  background: #FFC425;
  box-shadow: 10px 9px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(13px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 0.5vw;
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 124.52%;
  border: none;
  /* identical to box height, or 20px */
  letter-spacing: 0.085em;
  color: #030F2F;
  z-index: 1;


}


@media screen and (max-width: 600px) {
  #fullname {
    width: 100%;
    font-size: 4vw;
    padding: 3vw 3vw;
    border-radius: 2vw;
  }

  ._field-wrapper {
    width: 100%;
  }

  ._form_element._x50559507._inline-style {
    width: 100%;
  }

  #email {
    width: 100%;
    font-size: 4vw;
    padding: 3vw 3vw;
    border-radius: 2vw;
    margin-bottom: 10px;

  }
  .outside-form-div {
    width: 100%;
  }
  ._form._form_7._inline-form._inline-style._dark {
    width: 100%;
  }
  .row2 {
    padding: 0% 10% 0% 10%;
  }

  ._submit{
    width: 100%;
    font-size: 4vw;
    padding: 3vw 3vw;
    border-radius: 2vw;
  }

  ._form-content{
    display: inline;
  }

  .form {
    margin: 0px;
  }

  .bottom-buttons {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}