

/* CSS ESTRUTURA 2 COLUNAS */
/* container */
a { font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5vh;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.14em;
  color: #E7EBF680;
 } 

#a1{
padding-left: 0.1%;
}



/* linha */
.row2 {
  background-color:transparent;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0% 18% 0% 15%;
  margin-bottom: 2%;
}
  .row2:before,
  .row2:after {
      display: table;
  }
  .row2:after {
      clear: both;
  }



  .row2 {
    background-color: transparent;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0% 8% 0% 8%;
    padding-bottom: 15%;
}

@media (min-width: 600px) {
  .row2 {
    padding: 0% 8% 0% 8%;
  }
}


/* colunas */


.col2 {
  display: inline-block;
  text-align: left;
  vertical-align: center;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 1%;
  width: 100%;
  margin-right: -4%;
  vertical-align: middle;
 

}
@media screen and (max-width: 600px) {
  .col2 {
    margin-right: 0%;
    }
}
  /* tres colunas */
  @media (min-width: 600px) {
    .col-2 {
          width: 50%;
      }
  }


  /* SE INSCREVA À NOSSA NEWSLETTER */
  .text1{
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 4.3vh;
    line-height: 140%;
    letter-spacing: 0.14em;
    color: #FFFFFF;
    padding-right: 20%;
}



.news{
  color: #FFC425 !important;
}
  /*Mobile*/

  @media screen and (max-width: 600px) {
    .text1 {
      font-size: 19px;
    }
  }

.text2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 140%;
    letter-spacing: 0.14em;
    margin-top:-187.5%;
    color: #FFFFFF;
    opacity: 0.75;
    margin-top: 4%;
}

  /*Mobile*/

  @media screen and (max-width: 600px) {
    .text2 {
      font-size: 14px;
      padding-bottom: 14px;
    }
  }

  @media screen and (max-width: 600px) {
    .text1 {
      padding-right: 15%;
    }
  }

.form{
  width: 100%;
  flex-wrap: wrap;
  margin: 10px auto;
  display:flex;
  max-width: 600px;
  text-align: center;
  margin: 40px;
  
}

  /*Mobile*/

  @media screen and (max-width: 600px) {
    .form {
      margin: 0px;
    }
  }


.text-newsletter{
  width: 100%;
  flex-wrap: wrap;
  display:flex;
  max-width: 600px;
  text-align: left;
  
}

.logo{
  text-align: center;
}

.imagem{
  width: 70%;
  align-items: right;
  text-align: right;
  margin-left: 10%;
}

.logof{
  width: 10vw;

}

  /*Mobile*/

  @media screen and (max-width: 600px) {
    .logof{
      width: 34vw;
      padding-top: 10%;
    
    }
  }



.icon {
  display: inline-block;
  overflow: hidden;
  margin: 10px;
}
.icon > svg {
  position: relative;
}
.darkStar > svg {
  top: 0;
}


.direito{
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6vh;
  line-height: 16px;
  /* identical to box height */
  padding-top: 10px;
  text-align: center;
  letter-spacing: 0.14em;

  color: rgba(231, 235, 246, 0.5);

  opacity: 0.7;
}

.s111{
  text-align: center;
  align-content: center;
  vertical-align: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
