.third-section {
  position:relative;
  z-index: 14;
  overflow: hidden;
}

.white-wave-top, .white-wave-bottom {
  width: 100vw;
  z-index: 10;
}

.white-wave-top {
  height: 47vw;
}

.white-wave-bottom {
  height: 34.5vw;
  margin-top: -1vw;
}

.third-section {
  margin-top: -20vw
}
