.astronaut-in-bottle-section {
  width: 100vw;
  /* background: linear-gradient(180deg, rgba(3, 15, 47, 0) 0%, #030D29 15vw, #030D29 36.98%); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  height: 140vh;
  margin-bottom: 20vh;
}

.open-lid {
  /* width: 15vw; */
  height: 10.8vh;
  z-index: 20;
}

.rest-of-bottle {
  /* width: 15vw; */
  height: 50vh;
  z-index: 30;
}

.pill-astronaut {
  /* width: 23vw; */
  height: 45vh;

  z-index: 15;
  max-width: 400px;
}

.floating-pills {
  position: absolute;
  top: 10%;
  width: 60%;
  height: 52%;
  /* background-color: red; */
}

.one-floating-pill {
  width: 5vw;
  position: absolute;
  max-width: 100px;
}

.small-fourth-orbit {
  right: -3vw;
  position: absolute;
}

.pill-shadow-left {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 25vh;
  width: 25vw;
}

@media only screen and (max-width: 900px) {
  .open-lid {
    height: 10.5vh;
  }

  .rest-of-bottle {
    height: 40vh;
  }

  .astronaut-in-bottle-section {
    height: 100vh;
  }

  .pill-astronaut {
    max-height: 300px;
  }

  .floating-pills {
    width: 90%;
  }

  .one-floating-pill {
    min-width: 40px;
  }

  .small-fourth-orbit,
  .pill-shadow-left {
    display: none;
  }

}