@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
  --color-background: #030D29;
}

* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative
}

html,
body,
#root {
  height: 100vh;
  overflow-x: hidden;
}

body {
  background: var(--color-background);
}

.group1{
  background-image: url("./assets/group1_f.png"); /* The image used */
  background-color: #030D29; /* Used if the image is unavailable */
  height: 1000px; /* You must set a specified height */
  background-position: -42vh -90vh; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 200vh; /* Resize the background image to cover the entire container */
}